<!DOCTYPE html>
<html>

<!--
    * Last Updated: 06/07/2019
    * Author: Gerald Downey
-->

<head>
    <title>Chat App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/jquery-3.3.1.js"></script>
    <script src="./js/jquery.dataTables.min.js"></script>
    <script src="./js/dataTables.responsive.min.js"></script>
    <script src="./js/responsive.bootstrap.min.js"></script>
    <script src="./js/dataTables.bootstrap.min.js"></script>
    <script src="./js/mustache.min.js"></script>
    <script src="./js/qs.min.js"></script>
    <script src="./js/moment-with-locales.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/animate.css">
    <link rel="stylesheet" type="text/css" href="./css/dreamscape.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/responsive.bootstrap.min.css">
    <link rel="icon" href="./images/happy.png">
</head>

<body>

    {{> header }}

    <div id="main-content" class="container main-content text-center quicksand">
        <h3 class="big-title">Chat App</h3>
        <p class="server-text" id="server-message"></p>
        <p class="error-text" id="error"></p>
        <hr>
        <div id="messages"></div>
        <form id="message-form">
            <input type="text" name="message" id="message" class="message" placeholder="Message">
            <div class="button-bar">
                <input id="reply-button" class="btn btn-square btn-sm btn-ghost-green" type="submit" value="SEND" />
                <input id="location-button" class="btn btn-square btn-sm btn-ghost-red" type="button"
                    value="LOCATION" />
            </div>
        </form>


    </div>

    <script id="message-template" type="text/html">
        <div><p> {{ message }} </p></div>
    </script>

    <script id="location-template" type="text/html">
        <div><a href="{{ location }}"> {{ location }} </a></div>
    </script>

    {{> footer }}

    <script src="./socket.io/socket.io.js"></script>
    <script src="./js/chat.js"></script>
    <script src="./js/utils.js"></script>

</body>

</html>